@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
	-webkit-box-sizing: border-box;
	scrollbar-width: thin;
	scrollbar-color:var(--scroll-thumb) var(--scroll-bg);
}


:root{
	--panel-bg:#1e293a;
	--panel-text:#d3d3d3;
	--panel-cat:#1a2331;
	--panel-cat-text:#78808a;
	--panel-object:#293444;
	--panel-input:#192231;

	--scroll-bg:rgba(0,0,0,.25);
	--scroll-thumb:rgba(255,255,255,.4);

	--special:#39b54a;
}

body{
	font-family: "Roboto";
	background: #222;
	line-height: 1.5;
}

input[type=checkbox]{
	display: none !important;
}

label.checkbox span{
	position: relative;
	display: inline-block;
	width: 36px;
	height: 24px;
	background: var(--panel-input);
	border-radius: 999px;
	-webkit-transition: .3s;
	vertical-align: middle;
}

label.checkbox span::after{
	content: "";
	background: #fff;
	border-radius: 999px;
	position: absolute;
	top:2px;
	left:2px;
	display: inline-block;
	padding:10px;
	border-radius: 999px;
	-webkit-transition: .3s;
}

label.checkbox input:checked + span{
	background: var(--special);
}

label.checkbox input:checked + span::after{
	-webkit-transform: translateX(12px);
}

.engine .load{
	position: fixed;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	background: var(--panel-bg);
	z-index: 110;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: .5s;
	-webkit-transform: scale(2);
}

.engine .load .progress{
	position: absolute;
	top:0;
	left:0;
	background: var(--special);
	height: 4px;
	width: 0%;
	-webkit-box-shadow:0 8px 16px var(--special);
	-webkit-transition: .1s;
}
.engine .load .progress.hidden{
	opacity: 0;
	visibility: hidden;
}


.engine .load.active{
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
}

.engine .load .logo{
	position: absolute;
	top:50%;
	left:50%;
	width: 164px;
	-webkit-transform: translate(-50%,-50%);
	-webkit-animation: logo 1.5s infinite linear;
}

@-webkit-keyframes logo{
	0%{
		opacity: 1;
		-webkit-transform: translate(-50%,-50%);
	}
	50%{
		opacity: .2;
		-webkit-transform: translate(-50%,-50%) scale(1.1);
	}
	100%{
		opacity: 1;
		-webkit-transform: translate(-50%,-50%);
	}
}


.engine .panel{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 320px;
	background: var(--panel-bg);
	color: var(--panel-text);
	user-select: none;
	-webkit-box-shadow: 0 0 16px rgba(0,0,0,.1);
	-webkit-transform: translateX(-100%);
	-webkit-transition: .2s;
	z-index: 10;
}

.engine .panel.active{
	-webkit-transform: translate(0%);
}

.engine .panel .options{
	display: -webkit-flex;
	justify-content: space-around;
	height: 48px;
	border-bottom: 1px solid rgba(255,255,255,.1);
}

.engine .panel .options a{
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	color: var(--panel-text);
	height: 48px;
	font-size: 20px;
	width: 100%;
	cursor: pointer;
}

.engine .panel .options a:hover{
	background:rgba(255,255,255,.05);
}

.engine .panel [data-tab]{
	display: none;
	padding: .5rem;
	overflow: auto;
	position: absolute;
	top: 48px;
	right: 0;
	left: 0;
	bottom: 32px;
}

.engine .panel [data-tab="tools"]{
	padding: 0;
}

.engine .panel [data-tab].active{
	display: block;
}

.engine .panel [data-tab] .tool{
	display: inline-block;
	padding: 0.75rem 0;
	width: calc(33.33% - 26px);
	min-height: 82px;
	margin: 13px 13px;
	border-radius: 4px;
	color: var(--panel-text);
	background: var(--panel-object);
	text-align: center;
	cursor: pointer;
	font-size: 14px;
	-webkit-transition: .3s;
}

.engine .panel [data-tab] .tool i{
	display: block;
	font-size: 36px;
}

.engine .panel [data-tab] .slide{
	position: relative;
	display: block;
	padding: 0 1rem;
	height:48px;
	line-height: 48px;
	color: var(--panel-text);
	background: var(--panel-object);
	text-align: center;
	-webkit-transition: .3s;
	font-size:16px;
	text-align: left;
}
.engine .panel [data-tab] .slide .remove{
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	cursor: pointer;
	padding:0 1rem;
	font-size:20px;
}

.engine .panel .bar{
	display: -webkit-flex;
	justify-content: space-around;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 32px;
	border-top: 1px solid rgba(255,255,255,.1);
}

.engine .panel .bar a{
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 32px;
	font-size: 16px;
	color: var(--panel-text);
}

.engine .panel .bar a:hover{
	background: rgba(0,0,0,.1);
}

.engine .panel a.panel-switch{
	display: inline-block;
	position: absolute;
	right: 0;
	top: 50%;
	padding: 12px 4px;
	background: var(--panel-bg);
	color: var(--panel-text);
	-webkit-transform: translate(100%,-50%);
	-webkit-box-shadow: 6px 0 6px rgba(0,0,0,.1);
	border-radius: 0 4px 4px 0;
}

.engine .panel a.panel-switch.active i {
    -webkit-transform: scale(-1,1);
}


.engine .panel a.tools-type{
    position: relative;
    display: block;
    background: var(--panel-cat);
    color: var(--panel-cat-text);
    padding: 4px 8px;
    font-size: 14px;
    border-bottom: 1px solid rgba(0,0,0,.25);
}

.engine .panel a.tools-type:after{
	font-family: "Font Awesome 5 Pro";
	content:"\f107";
	position: absolute;
	right: 8px;
	top:50%;
	-webkit-transform: translateY(-50%) rotate(-90deg);
}

.engine .panel a.tools-type.active:after{
	-webkit-transform: translateY(-50%);
}

.engine .panel [data-type]{
	display: none;
	padding: .5rem;
}

.engine .panel [data-type].active{
	display: block;
}

.engine .button{
	display: inline-block;
	background: rgba(255,255,255,.1);
	padding: .85em 1em;
	margin:.5rem 0;
	border-radius: 4px;
	color: var(--panel-text);
}

.engine .green{
    color: var(--special);
}

.engine .content{
	position: fixed;
	top:0;
	left:0;
	bottom: 0;
	right: 0;
	-webkit-transition: .2s;
}

.engine .content.active{
	left:320px;
}

.engine .content iframe{
	position: absolute;
	top:0;
	bottom: 0;
	left:0;
	right: 0;
	margin:0 auto;
	width: 100%;
	height: 100%;
	border: none;
	-webkit-transition:.5s;
}

.engine input, .engine select {
    background: var(--panel-input);
    color: var(--panel-text);
    border: none;
    font-family: "Roboto";
    -webkit-box-shadow: none;
    margin: 0;
        margin-top: 0px;
    margin-top: .5rem;
    padding: .5rem .5rem;
    height: auto;
    appearance: auto;
    width: 100%;
    border-radius: 4px;
    font-size: 12px;
}

.engine label.checkbox span{
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	-webkit-transform: translateY(-50%);
}

.engine input:focus-visible{
	background: #182125;
	-webkit-box-shadow:none;
	border: none;
	outline: none;
}

.engine label{
	display: block;
	height: 32px;
	line-height: 32px;
	position: relative;
	color: var(--panel-text);
	margin: 4px 0;
	font-size: 12px;
}

.engine label input, .engine label select {
    display: inline-block;
    width: 160px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

.engine .notification {
    position: fixed;
    bottom: 0;
    right: 0;
    min-width: 30vw;
    height: 60px;
    color: #fff;
    background: #59d954;
    margin: 16px 32px;
    border-radius: 4px;
    -webkit-transform: translateY(150%);
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,.15);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s;
    overflow: hidden;
    z-index: 105;
}

.engine .notification::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.2);
    height: 4px;
}

.engine .notification.active {
    -webkit-transform: translateY(0%);
    visibility: visible;
    opacity: 1;
}

.engine .notification div {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    left: 0;
    right: 0;
}

.engine .notification div i {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
    border-radius: 999px;
    background-color: rgba(255,255,255,.25);
    margin: 0 20px;
}

.engine .notification div span {
    display: inline-block;
    width: 75%;
    vertical-align: middle;
    padding-right: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.engine .popup{
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.2);
	z-index: 100;
	-webkit-transition:0;
}

.engine .popup.active{
	visibility: visible;
	opacity: 1;
	-webkit-transition:.2s;
}

.engine .popup form{
	display: inline-block;
	position: absolute;
	top:50%;
	left:50%;
	width:auto;
	-webkit-transform: translate(-50%,-50%);
	background: var(--panel-bg);
	color:var(--panel-text);
	border-radius: 4px;
	width: 90%;
	height: 90%;
	overflow: hidden;
}

.engine .popup form .yes,.engine .popup form .no{
	display: inline-block;
	width: 50%;
	background: rgba(0, 128, 0,.25);
	color: var(--panel-text);
	text-align: center;
	padding: 10px;
	font-size: 22px;
}
.engine .popup form .no{
	background: rgba(255, 0, 0,.25);
}

.engine .popup form .title{
    padding: .5rem 1rem;
	height: 35px;
    background: var(--panel-cat);
	color: var(--panel-text);
}

.engine .popup form .container{
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	top: 35px;
	left:0;
	right: 0;
	bottom: 0;
}

.engine label.input-file{
	display: block;
	position: relative;
	border:3px dotted rgba(255,255,255,.1);
	margin:0;
	margin-top:1rem;
	padding: 1rem;
	text-align: center;
	font-size:20px;
	color:rgba(255,255,255,.1);
	-webkit-box-sizing: content-box;
}

.engine label.input-file:active{
	border-color:#376fd0;
	color:#376fd0;
}

.engine label.input-file input[type=file]{
	position: absolute;
	top:0;
	bottom: 0;
	left:0;
	right: 0;
	opacity: 0;
}

.engine input[type="color"] {
    height: 30px;
}

.engine .panel hr {
	border:none;
    border-bottom: 2px solid #18212e;
	max-width: 90rem;
	margin: 1.25rem auto;
}








.button{
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 1rem 0;
	padding: .85em 1em;
	border: 1px solid transparent;
	border-radius: 0;
	-webkit-transition: background-color .25s ease-out,color .25s ease-out;
	transition: background-color .25s ease-out,color .25s ease-out;
	font-family: inherit;
	font-size: .9rem;
	-webkit-appearance: none;
	line-height: 1;
	text-align: center;
	cursor: pointer;
	background-color: #1779ba;
	color: #fefefe;
}

.text-center{
	text-align: center;
}

.grid-x {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

.grid-padding-y .grid-padding-y {
    margin-top: -.625rem;
    margin-bottom: -.625rem
}

.grid-padding-y > .cell {
    padding-top: .625rem;
    padding-bottom: .625rem
}

.align-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.grid-x > .small-1 {
    width: 8.33333%
}

.grid-x > .small-2 {
    width: 16.66667%
}

.grid-x > .small-3 {
    width: 25%
}

.grid-x > .small-4 {
    width: 33.33333%
}

.grid-x > .small-5 {
    width: 41.66667%
}

.grid-x > .small-6 {
    width: 50%
}

.grid-x > .small-7 {
    width: 58.33333%
}

.grid-x > .small-8 {
    width: 66.66667%
}

.grid-x > .small-9 {
    width: 75%
}

.grid-x > .small-10 {
    width: 83.33333%
}

.grid-x > .small-11 {
    width: 91.66667%
}

.grid-x > .small-12 {
    width: 100%
}