.engine .panel .spacing-select{
	display: inline-block;
	width: 50%;
}

.engine .panel .spacing-locker{
	width: 44px;
}

.engine .panel .spacing-label{
	display: block;
	height: 32px;
	line-height: 32px;
	position: relative;
}

.engine .panel .spacing-label input,
.engine .panel .spacing-label select{
	display: inline-block;
	width: 160px;
	position: absolute;
	top:0;
	right: 0;
	margin: 0;
}

.engine .panel .padding-options select{
	appearance: none;
	margin-top: 2px;
}