.allsenses-editor .notification{
	position: fixed;
	bottom: 0;
	right:0;
	min-width: 30vw;
	height: 60px;
	color:#fff;
	background: #59d954;
	margin: 16px 32px;
	border-radius: 4px;
	-webkit-transform:translateY(150%);
	-webkit-box-shadow:0 4px 8px rgba(0,0,0,.15);
	opacity: 0;
	visibility: hidden;
	-webkit-transition:.3s;
	overflow: hidden;
	z-index: 105;
}

.allsenses-editor .notification::after{
	content:"";
	position: absolute;
	bottom: 0;
	left:0;
	right: 0;
	background: rgba(0,0,0,.2);
	height: 4px;
}

.allsenses-editor .notification.active{
	-webkit-transform:translateY(0%);
	visibility: visible;
	opacity: 1;
}

.allsenses-editor .notification div{
	position: absolute;
	top:50%;
	-webkit-transform:translateY(-50%);
	left:0;
	right: 0;
}

.allsenses-editor .notification div i{
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	vertical-align: middle;
	text-align: center;
	border-radius: 999px;
	background-color: rgba(255,255,255,.25);
	margin: 0 20px;
}

.allsenses-editor .notification div span{
	display: inline-block;
	width: 75%;
	vertical-align: middle;
	padding-right: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
}