@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
	-webkit-box-sizing: border-box;
}

:root{
	--panel-bg:#1e293a;
	--panel-text:#d3d3d3;
	--panel-cat:#1a2331;
	--panel-object:#293444;
	--panel-input:#192231;
}

body{
	font-family: "Roboto";
}

.main-slider .item{
	height: 100vh;
	background: #999;
}

.allsenses-slider .panel{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 320px;
	background: var(--panel-bg);
	color: var(--panel-text);
	user-select: none;
	-webkit-box-shadow: 0 0 16px rgba(0,0,0,.1);
	-webkit-transform: translateX(-100%);
	-webkit-transition: .2s;
	z-index: 10;
}

.allsenses-slider .panel.active{
	-webkit-transform: translate(0%);
}

.allsenses-slider .panel .options{
	display: -webkit-flex;
	justify-content: space-around;
	height: 48px;
	border-bottom: 1px solid rgba(255,255,255,.1);
}

.allsenses-slider .panel .options a{
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	color: var(--panel-text);
	height: 48px;
	font-size: 20px;
	width: 100%;
	cursor: pointer;
}

.allsenses-slider .panel .options a:hover{
	background:rgba(255,255,255,.05);
}

.allsenses-slider .panel [data-tab]{
	display: none;
	padding: .5rem;
}

.allsenses-slider .panel [data-tab].active{
	display: block;
}

.allsenses-slider .panel [data-tab] .tool{
	display: inline-block;
	padding: 0.75rem 0;
	width: calc(50% - 26px);
	min-height: 82px;
	margin: 13px 13px;
	border-radius: 4px;
	color: var(--panel-text);
	background: var(--panel-object);
	text-align: center;
	cursor: pointer;
	font-size: 14px;
	-webkit-transition: .3s;
}

.allsenses-slider .panel [data-tab] .tool i{
	display: block;
	font-size: 36px;
}

.allsenses-slider .panel [data-tab] .slide{
	position: relative;
	display: block;
	padding: 0 1rem;
	height:48px;
	line-height: 48px;
	color: var(--panel-text);
	background: var(--panel-object);
	text-align: center;
	-webkit-transition: .3s;
	font-size:16px;
	text-align: left;
}
.allsenses-slider .panel [data-tab] .slide .remove{
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	cursor: pointer;
	padding:0 1rem;
	font-size:20px;
}

.allsenses-slider .panel .bar{
	display: -webkit-flex;
	justify-content: space-around;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 32px;
	border-top: 1px solid rgba(255,255,255,.1);
}

.allsenses-slider .panel .bar a{
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 32px;
	font-size: 16px;
	color: var(--panel-text);
}

.allsenses-slider .panel .bar a:hover{
	background: rgba(0,0,0,.1);
}


.allsenses-slider .button{
	display: inline-block;
	background: rgba(255,255,255,.05);
	padding: .75rem 1.25rem;
	margin:.5rem 0;
	border-radius: 4px;
	color: var(--panel-text);
}

.allsenses-slider .content{
	position: fixed;
	top:0;
	left:0;
	bottom: 0;
	right: 0;
	margin: 0 auto;
}

.allsenses-slider .content.active{
	left:320px;
}

.allsenses-slider .content iframe{
	width: 100%;
	height: 100%;
	border: none;
}

.allsenses-slider input, .allsenses-slider select {
    background: var(--panel-input);
    color: var(--panel-text);
    border: none;
    font-family: "Roboto";
    -webkit-box-shadow: none;
    margin: 0;
        margin-top: 0px;
    margin-top: .5rem;
    padding: .5rem .5rem;
    height: auto;
    appearance: auto;
    width: 100%;
    border-radius: 4px;
    font-size: 12px;
}

.allsenses-slider input:focus-visible{
	background: #182125;
	-webkit-box-shadow:none;
	border: none;
	outline: none;
}

.allsenses-slider label{
	display: block;
	height: 32px;
	line-height: 32px;
	position: relative;
	color: var(--panel-text);
	margin: 4px 0;
	font-size: 12px;
}

.allsenses-slider label input, .allsenses-slider label select {
    display: inline-block;
    width: 160px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}


.text-center{
	text-align: center;
}