.item{
	background-size: cover;
	background-repeat: no-repeat;
	height:100vh;
}

[data-hover=true]{
	outline: 1px dashed #376fd0;
	outline-offset: -1px;
}

[data-active=true] {
    outline: 2px dashed #376fd0;
    outline-offset: -2px;
}

[contenteditable=true]:hover{
	outline: 1px solid #376fd0;
	outline-offset: -1px;
}

[contenteditable=true]:focus-visible{
	outline: 2px solid #376fd0;
	outline-offset: -2px;
}